<p-card class="table">
  <h1 class="pl-3">Alumnos</h1>
  <p-table
    #dt2
    dataKey="id"
    [rows]="10"
    [value]="students"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['nombre_Usuario', 'mail_Usuario']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div>
          <p-iconField iconPosition="right">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              placeholder="Buscar usuario por nombre o email"
              (input)="applyGlobalFilter($event)"
            />
          </p-iconField>
          <button
            pButton
            icon="pi pi-filter-slash"
            class="p-addUser ml-2"
            label="Limpiar"
            (click)="clear(dt2)"
          ></button>
        </div>
        <button
          class="p-addUser"
          iconPos="right"
          label="Agregar un usuario"
          icon="pi pi-user-plus"
          (click)="showDialogAdd()"
          pButton
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 35%">NOMBRE</th>
        <th style="width: 35%">EMAIL</th>
        <th style="width: 10%">VERIFICACIÓN</th>
        <th style="width: 10%">ACCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td># {{ student.id_Usuario }}</td>
        <td>{{ student.nombre_Usuario }}</td>
        <td>{{ student.mail_Usuario }}</td>
        <td>
          <div
            [ngClass]="{
              'verificated ': student.estaVerificado,
              'notVerificated ': !student.estaVerificado
            }"
          >
            {{ student.estaVerificado ? "Verificado" : "No Verificado" }}
          </div>
        </td>
        <td>
          <div class="flex align-items-center gap-3">
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="btn-delete"
              pTooltip="Eliminar"
              (click)="deleteUser(student.id_Usuario)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-user-edit"
              class="btn-edit"
              pTooltip="Editar"
              (click)="showDialogEdit(student.id_Usuario)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se encuentran usuarios.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<!-- MODALES -->
<p-dialog
  header="Editar"
  [modal]="true"
  [(visible)]="visibleEdit"
  [style]="{ width: '30rem' }"
  (onHide)="updateForm.reset()"
  ><form [formGroup]="updateForm">
    <span class="p-text-secondary block mb-5">Actualizar información</span>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="username" class="font-semibold w-6rem"
        >Nombre y Apellido</label
      >
      <input
        pInputText
        id="username"
        class="flex-auto"
        formControlName="nombre_Usuario"
        autocomplete="off"
      />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="email" class="font-semibold w-6rem">Email</label>
      <input
        pInputText
        id="email"
        class="flex-auto"
        formControlName="mail_Usuario"
        type="email"
        autocomplete="off"
      />
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button
        label="Cancelar"
        styleClass="p-3 border-round-2xl"
        severity="secondary"
        (onClick)="visibleEdit = false; updateForm.reset()"
      />
      <button
        class="p-addUser"
        [disabled]="updateForm.invalid"
        label="Guardar"
        pButton
        (click)="visibleEdit = false; updateTeacher()"
      ></button>
    </div>
  </form>
</p-dialog>

<p-dialog
  header="Agregar"
  [modal]="true"
  [(visible)]="visibleAdd"
  [style]="{ width: '30rem' }"
  (onHide)="registerForm.reset()"
>
  <form [formGroup]="registerForm">
    <span class="p-text-secondary block mb-1">Complete la información</span>
    <span class="p-text-secondary block mb-5"
      >¡El usuario debera validar la cuenta en su email!</span
    >
    <div class="flex flex-column align-items-start gap-3 mb-3">
      <label for="username" class="font-semibold w-6rem"
        >Nombre y Apellido</label
      >
      <input
        pInputText
        id="username"
        class="flex-auto w-full"
        autocomplete="off"
        type="text"
        formControlName="nombre_Usuario"
      />
    </div>
    <div class="flex flex-column align-items-start gap-3 mb-3">
      <label for="email" class="font-semibold w-6rem">Email</label>
      <input
        pInputText
        id="email"
        class="flex-auto w-full"
        autocomplete="off"
        type="email"
        formControlName="mail_Usuario"
      />
      @if (registerForm.get('mail_Usuario')?.invalid &&
      registerForm.get('mail_Usuario')?.touched) { @if
      (registerForm.get('mail_Usuario')?.errors?.['required']) {
      <small>El email es obligatorio.</small>
      } @if (registerForm.get('mail_Usuario')?.errors?.['email']) {
      <small>El formato del email no es válido.</small>
      } }
    </div>
    <div class="flex flex-column align-items-start gap-3 mb-3">
      <label for="password" class="font-semibold w-6rem">Contraseña</label>
      <input
        pInputText
        id="password"
        class="flex-auto w-full"
        autocomplete="off"
        type="password"
        formControlName="password"
      />
      @if (registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched) { @if
      (registerForm.get('password')?.errors?.['required']) {
      <small>La contraseña es obligatoria.</small>
      } @if (registerForm.get('password')?.errors?.['minlength']) {
      <small>Debe tener al menos 8 caracteres.</small>
      } @if (registerForm.get('password')?.errors?.['passwordComplexity']) {
      <small>Debe incluir letras, números y caracteres especiales.</small>
      } }
    </div>
    <div class="flex justify-content-center gap-2">
      <p-button
        label="Cancelar"
        styleClass="p-3 border-round-2xl"
        severity="secondary"
        (onClick)="visibleAdd = false; registerForm.reset()"
      />
      <button
        class="p-addUser"
        label="Añadir"
        pButton
        [disabled]="registerForm.invalid"
        (click)="visibleAdd = false; addTeacher()"
      ></button>
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>
<app-spinner [isVisible]="isLoading" />
