:host ::ng-deep {
  .p-addUser {
    padding: 15px;
    border-radius: 16px;
    background: #18a0b0;
    color: #efefef;
    border-style: none;
  }
  .p-datatable .p-datatable-header {
    background: transparent;
  }
  .table .p-card .p-card-body {
    padding: 0;
  }
  .table .p-card .p-card-content {
    padding: 10px;
  }
  .pi-trash:before {
    color: red;
  }
  .pi-trash:before {
    color: red;
    font-weight: bold;
  }
  .pi-user-edit:before {
    font-weight: bold;
    color: blue;
  }
}

.notVerificated {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #b32b23;
  background: #ffd0ce;
  color: #b32b23;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
}

.verificated {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #188a42;
  background: #caf1d8;
  color: #188a42;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
}

.btn-delete {
  border-radius: 8px;
  border: 1px solid var(--Alertas-Error-Borde, #fecaca);
  background: var(--Alertas-Error-Fondo, #fef2f2);
}

.btn-edit {
  border-radius: 8px;
  border: 1px solid var(--Alertas-Info-Borde, #bfdbfe);
  background: var(--Alertas-Info-Fondo, #eff6ff);
}
