html,
body {
  height: 100%;
  margin: 0;
}

app-header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  padding: 120px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

app-footer {
  flex-shrink: 0;
  text-align: center;
  padding: 10px 0;
}

.high-difficulty {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #b32b23;
  background: #ffd0ce;
  color: #b32b23;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.medium-difficulty {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #ae510f;
  background: #feddc7;
  color: #ae510f;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.low-difficulty {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #188a42;
  background: #caf1d8;
  color: #188a42;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
