html,
body {
  height: 100%;
  margin: 0;
}

app-header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  padding: 120px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

app-footer {
  flex-shrink: 0;
  text-align: center;
  padding: 10px 0;
}
