:host ::ng-deep {
  .p-addUser {
    padding: 15px;
    border-radius: 16px;
    background: #18a0b0;
    color: #efefef;
    border-style: none;
  }
  .p-datatable .p-datatable-header {
    background: transparent;
  }
  .table .p-card .p-card-body {
    padding: 0;
  }
  .table .p-card .p-card-content {
    padding: 10px;
  }
  .pi-trash:before {
    color: red;
  }
  .pi-trash:before {
    color: red;
    font-weight: bold;
  }
  .pi-pencil:before {
    font-weight: bold;
    color: blue;
  }
}

.btn-delete {
  border-radius: 8px;
  border: 1px solid var(--Alertas-Error-Borde, #fecaca);
  background: var(--Alertas-Error-Fondo, #fef2f2);
}

.btn-edit {
  border-radius: 8px;
  border: 1px solid var(--Alertas-Info-Borde, #bfdbfe);
  background: var(--Alertas-Info-Fondo, #eff6ff);
}
