<footer class="footer-container">
  <div class="flex gap-2 align-items-center">
    <img src="../../../assets/logo.svg" class="logo" alt="Logo" />
    <div class="title font-bold text-sm md:text-6xl lg:text-6xl">FitHouse</div>
  </div>
  <p-divider class="divider w-full" />
  <div class="flex flex-wrap justify-content-between row-gap-3">
    <div class="flex gap-1 w-auto">
      <img src="../../../assets/copyright.svg" alt="Copyright" />
      <p class="text-xs">2024 FitHouse. Todos los derechos reservados.</p>
    </div>
    <div class="flex gap-1">
      <img src="../../../assets/facebook.svg" alt="Facebook" />
      <img src="../../../assets/instagram.svg" alt="Instagram" />
      <img src="../../../assets/linkedin.svg" alt="Linkedin" />
    </div>
  </div>
</footer>
