.title {
  color: #efefef;
}

.footer-container {
  padding: 24px 120px;
  background: #18a0b0;

  @media (max-width: 768px) {
    padding: 8px 16px;
  }
  @media (max-width: 425px) {
    padding: 8px 24px;
  }
}

.logo {
  width: clamp(13px, 5vw, 45px);
  height: clamp(16px, 5vh, 54px);
}

:host ::ng-deep {
  color: #efefef;
}
